.styledLinkContent {
  color: #ffffff;
  text-transform: uppercase;
}

.menuItem {
  height: 100%;
}

.menuItem::after{
  content: '';  
  display: flex;
  width: 100%;
  height: 2px;
  background-color: transparent;

  transition: background-color 0.2s;
}

.menuItem:hover::after {
  background-color: #59ff00;
}

.submenuWrapper {
  border: 0;
}

.styledLinkContent {
  flex-direction: column;
  align-items: center;
  justify-content: center;
}