.slideChildrenContainer {
  position: relative;
}

.sliderArrows {
  position: absolute;
  bottom: -40px;
  color: #59ff00;
}

.paginationDotsContainer  {
  position: absolute;
  bottom: -25px;
}

.paginationDot--isActive  {
  background-color: #59ff00;
}

.sliderLayoutContainer  {
  max-width: 1000px;
}